<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>MDEForge</title>
</head>
<body>

<div layout:fragment="content">
    <h1>Hi! You should be logged...</h1>
    <form th:action="@{/logout}" th:method="post">
        <button class="btn btn-link" type="submit">Log out</button>
    </form>
    <!--
    <table class="table table-zebra">
        <tr th:each="message : ${messages}">
            <td th:text="${message.from.email}"></td>
            <td th:text="${message.text}"></td>
            <td>
                <a th:href="@{/messages/{id}(id=${message.id})}">
                    View
                </a>
            </td>
        </tr>
    </table>
    -->
</div>


</body>
</html>